@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,400;1,700&display=swap");

:root {
  --primary-color: rgb(197, 89, 107);
  --secondary-color: #ffc0cb;
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
  display: flex;
}

.left-side {
  width: 20%;
  height: 100vh;
  background-color: var(--primary-color);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.left-side img {
  width: 150px;
  border-radius: 50%;
  border: 5px solid var(--secondary-color);
}

.menu ul {
  list-style-type: none;
  text-align: center;
  margin: 0;
  padding: 0;
}

.menu ul li {
  margin: 15px 0;
}

#selected {
  color: white;
}

.menu a {
  text-decoration: none;
  font-weight: bold;
  color: var(--secondary-color);
  transition: color 0.2s;
}

.menu a:hover {
  color: white;
}

.right-side {
  background-color: var(--secondary-color);
  display: flex;
  justify-content: left;
  align-items: center;
  width: 80%;
  height: 100vh;
  padding-left: 30px;
}

.title h1 {
  font-size: 60px;
  color: rgb(66, 64, 64);
}

.title .last-name {
  color: var(--primary-color);
}

.subtitle h4 {
  font-size: 18px;
  color: rgb(109, 108, 108);
  margin-bottom: 50px;
}

.subtitle .email {
  color: var(--primary-color);
}

.biography {
  color: rgb(109, 108, 108);
}

.social-icons {
  display: flex;
  margin-top: 30px;
}

.icon {
  margin-right: 30px;
  border-radius: 50%;
  background-color: rgb(66, 64, 64);
  width: 50px;
  height: 50px;
  position: relative;
}

.icon svg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}

.icon:hover {
  transform: scale(1.2);
  transition: 0.2s;
}
